@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");
@media screen and (min-width: 900px) 
{
img {
  align-self: center;
}


@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #e4e7ec;
}



h1 {
  font-family: "SF Distant Galaxy";
}



/* computer */
@media screen and (min-width: 600px) {



}
.yoda1 {
  display:flex;
  justify-content: center;
  
}
.yoda2 {
  display:flex;
  justify-content: center;
  
}
.yoda3 {
  display:flex;
  justify-content: center;
  
}
