@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}


@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
@media screen and (max-width: 600px) {
body {
  background-color: #14fac0;
}
.yoda1{
  display:flex;
  flex-direction: column ;
}
.yoda2{
  display:flex;
  flex-direction: column ;
}
.yoda3{
  display:flex;
  flex-direction: column ;
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-family: "SF Distant Galaxy";
  display: flex;
 
}
a:hover{
  color: red;
}
.gorgu1{
  display: flex;
  justify-content:center ;
  flex-direction: column-reverse;
}
}


/* computer */
@media screen and (min-width: 600px) {

body {
  background-color: #14fac0;
  font-family: "SF Distant Galaxy";
}
.yoda1 {
  display:flex;
  justify-content: center;
  flex-direction: row;
}
.yoda2 {
  display:flex;
  justify-content:center ;
  flex-direction: row;
}
.yoda3 {
  display:flex;
  justify-content: center;
  flex-direction: row;
}
.links{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
a:hover{
  color: red;
}
.gorgu1{
  display:flex;
  justify-content: center;
  flex-direction: row-reverse;
}
}
